---
layout: base.template.njk
title: Eleventy with Vite
---
{%- from "./../templates/_setup/macros/component.macro.njk" import component -%}



<div id="result">

</div>

<nav  class="navbar navbar--bottom fixed-bottom naXvbar-light bXg-light">
    <div class="container-fluid">
        <div class="col active navbar__item">
            <a class="navbar-brand" href="#">
              <img src="/assets/speed.svg" alt="speed" width="20" height="20">
              ITCS
            </a>
          </div>
          <div class="col navbar__item">
              <a class="navbar-brand" href="#">TICKETING</a>
          </div>
          <div class="col navbar__item">
            <a class="navbar-brand" href="#">Menu</a>
          </div>
    </div>
  </nav>