{% set project = params.project %}
{% set config = params.config %}
{% set PROJECT = project[config.CONFIG_ID] %}
{% set VARS = project[config.CONFIG_ID].navigation %}
{% set tag = params.tag %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Home</a>
    <a class="navbar-brand" href="#"> 
      <div id="line">

      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
    </div>
  </div>
</nav>